Repository yesodweb/persistent, pull requests merged in 2020-01, with the labels that each got.

#998 Remove overlapping Lift instance
  persistent-template/ChangeLog.md
  persistent-template/Database/Persist/TH.hs
  persistent-template/persistent-template.cabal
  stack-nightly.yaml
  stack.yaml
  stack_lts-10.yaml
  stack_lts-12.yaml
Labels: bugfix

#993 persistent-sqlite: a fix for template-haskell 2.16, GHC 8.10 alpha
  persistent-sqlite/Database/Persist/Sqlite.hs
Labels: Sqlite, bugfix

#980 Changed persistent-mysql to use 'utf8mb4' instead of 'utf8' in migrations
  persistent-mysql/Database/Persist/MySQL.hs
Labels: MySQL, bugfix

#1010 Fix multiple fk issue with PostgreSQL migrations
  persistent-postgresql/ChangeLog.md
  persistent-postgresql/Database/Persist/Postgresql.hs
  persistent-postgresql/persistent-postgresql.cabal
  persistent-postgresql/test/CustomConstraintTest.hs
Labels: Postgres, bugfix

#983 Add pool creation functions for `RawSqlite`.
  persistent-sqlite/ChangeLog.md
  persistent-sqlite/Database/Persist/Sqlite.hs
  persistent-sqlite/persistent-sqlite.cabal
Labels: Sqlite, enhancement

#984 Add Acquire based interfaces for connections.
  persistent/ChangeLog.md
  persistent/Database/Persist/Sql.hs
  persistent/Database/Persist/Sql/Run.hs
  persistent/persistent.cabal
Labels: enhancement

#1018 Allow a prefix for ?? placeholders
  persistent-qq/test/PersistentTestModels.hs
  persistent-test/persistent-test.cabal
  persistent-test/src/Init.hs
  persistent-test/src/PersistentTestModels.hs
  persistent-test/src/RawSqlTest.hs
  persistent/ChangeLog.md
  persistent/Database/Persist/Sql/Class.hs
Labels: enhancement

#990 Derive Generic instances for non-generic newtype keys
  persistent-template/ChangeLog.md
  persistent-template/Database/Persist/TH.hs
  persistent-template/persistent-template.cabal
  persistent-template/test/main.hs
Labels: enhancement

#1008 Add fieldError to export list
  persistent-template/ChangeLog.md
  persistent-template/Database/Persist/TH.hs
Labels: enhancement, template
